<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:insert="~{layout/layout}"
      th:with="title='Home', leaveLink='#'">

<body>
    <div layout:fragment="content">
        <h2 class="text-danger">PWEB-2</h2>
        <p class="subtitle">Welcome to Project PWEB-2, which <strong><span class="text-danger">P</span>rovides <span class="text-danger">W</span>hat
            is th<span class="text-danger">E</span> <span class="text-danger">B</span>est <span class="text-danger">2</span> your family.</strong></p>
        <div>Here, you can:</div>
        <ul>
            <li>Register educational institutions</li>
            <li>Register academic year</li>
            <li>Register students</li>
            <li>Register enrollment statements</li>
            <li class="font-weight-bold">AND MUCH MORE!</li>
        </ul>
    </div>
</body>
</html>