<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:insert="~{layout/layout}"
      th:with="title='Student registry', leaveLink=@{'/home'}">
<head>
  <meta charset="UTF-8">
</head>
<body>
<main layout:fragment="content">

  <form class="form-inline"
        th:action="@{${student.idStudent != null ? '/students/'+idStudent : '/students'}}"
        th:method="${student.idStudent != null ? 'put' : 'post'}"
        th:object="${student}">

    <input type="hidden" th:field="*{idStudent}"/>

    <div class="form-group mx-sm-3 mb-2">
      <label for="name">Name</label>
      <input type="text" th:field="*{name}" class="form-control mb-2"/>
      <p th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}" class="alert alert-danger"></p>
    </div>

    <div class="form-group mx-sm-3 mb-2">
      <label for="registration">Registration</label>
      <input type="text" th:field="*{registration}" class="form-control mb-2"/>
      <p th:if="${#fields.hasErrors('registration')}" th:errorclass="error" th:errors="*{registration}" class="alert alert-danger"></p>
    </div>

    <div class="form-group mx-sm-3 mb-2">
      <label for="institution">Institution</label>
      <select th:field="*{institution.idInstitution}" class="form-select  mb-2">
        <option th:each="institution : ${institutionList}" th:value="${institution.idInstitution}" th:text="${institution.acronym}" />
      </select>
      <p th:if="${#fields.hasErrors('institution')}" th:errorclass="error" th:errors="*{institution}" class="alert alert-danger" />
    </div>

<!--    <div class="form-group mx-sm-3 mb-2" th:if="*{idStudent != null}">-->
<!--      <label for="enrollment">Enrollment</label>-->

<!--      <select th:field="*{currentEnrollment.idEnrollment}" class="form-select mb-2">-->
<!--        <option th:each="enrollment: *{enrollments}" th:value="${enrollment.idEnrollment}" th:text="${enrollment.receiptDate}" />-->
<!--      </select>-->

<!--      <a th:href="@{*{'/students/'+idStudent+'/enrollments/form'}}">-->
<!--        <input type="button" value="Add" class="btn btn-secondary"/>-->
<!--      </a>-->

<!--      <a th:href="@{*{'/students/'+idStudent+'/enrollments'}}">-->
<!--        <input type="button" value="List" class="btn btn-secondary"/>-->
<!--      </a>-->
<!--    </div>-->

    <div class="form-group mx-sm-3 mb-2 submit-form">
      <input type="submit" value="Save" class="btn btn-primary"/>
      <a class="btn btn-secondary" th:href="@{${'/students'}}">Cancel</a>
    </div>
  </form>
</main>
</body>
</html>