<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:insert="~{layout/layout}"
      th:with="title='Student list', leaveLink=@{'/home'}">
<body>
<header class="text-center">
  <h1>Students</h1>
</header>
<main layout:fragment="content">

  <div class="d-flex flex-row gap-3">
    <form th:action="@{/students/form}" method="GET">
      <button class="btn btn-primary" type="submit">New student</button>
    </form>
    <form th:action="@{/students}" method="GET">
      <button class="btn btn-primary" type="submit">List students</button>
    </form>
    <form th:action="@{/students/without-enrollments}" method="GET">
      <button class="btn btn-primary" type="submit">List students without Enrollments</button>
    </form>
  </div>

  <table class="table table-striped table-hover">
    <div th:if="${not studentList.isEmpty()}">
      <div th:text="'Total of '+${#lists.size(studentList.numberOfElements)} + ' students.'" class="text-right"></div>
    </div>
    <thead>
    <tr>
      <th>Registration</th>
      <th>Name</th>
      <th>Institution</th>
      <th>Current Enrollment</th>
      <th>Operations</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student: ${studentList}">
      <td><a th:text="${student.registration}"></a></td>
      <td><a th:text="${student.name}"></a></td>
      <td><a th:text="${student.institution.acronym}"></a></td>
      <td >
        <div th:if="${student.currentEnrollment != null}">
          <form th:action="@{${'/students/'+student.idStudent+'/enrollments/'+student.currentEnrollment.idEnrollment+'/downloadPDF'}}" method="get">
            <button
                    class="btn btn-primary btn-sm"
                    type="submit">
              Download PDF
            </button>
          </form>
        </div>
        <div>
          <a th:href="@{*{'/students/'+student.idStudent+'/enrollments'}}" th:if="${student.currentEnrollment != null}">
            <input type="button" value="List" class="btn btn-secondary"/>
          </a>
          <a th:href="@{*{'/students/'+student.idStudent+'/enrollments/form'}}">
            <input type="button" value="Add" class="btn btn-secondary"/>
          </a>
        </div>
      </td>
      <td>
        <form th:action="@{/students/{id}(id=${student.idStudent})}" class="operations-form">
          <button type="submit" class="btn btn-primary btn-sm">Update</button>
        </form>
        <form th:action="@{/students/{id}(id=${student.idStudent})}" th:method="delete" class="operations-form">
          <button type="submit" class="btn btn-primary btn-sm">Exclude</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>

  <div th:replace="~{/fragments/paging :: paginator('students', ${navPage})}" />
</main>
</body>
</html>