<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:insert="~{layout/layout}"
      th:with="title='Enrollment registry', leaveLink=@{'/students'}">
<head>
  <meta charset="UTF-8">
</head>
<body>
<main layout:fragment="content">

  <form class="form-inline"
        th:action="@{${enrollment.idEnrollment != null ? '/students/'+idStudent+'/enrollments/'+enrollment.idEnrollment :
         '/students/'+idStudent+'/enrollments'}}"
        th:method="${enrollment.idEnrollment != null ? 'put' : 'post'}"
        th:object="${enrollment}"
        enctype="multipart/form-data">

    <input type="hidden" th:field="*{idEnrollment}"/>

    <div class="form-group mx-sm-3 mb-2">
      <label for="receiptDate">Receipt Date</label>
      <input type="date" th:field="*{receiptDate}" class="form-control mb-2"/>
      <p th:if="${#fields.hasErrors('receiptDate')}" th:errorclass="error" th:errors="*{receiptDate}" class="alert alert-danger"></p>
    </div>

    <div class="form-group mx-sm-3 mb-2">
      <label for="expirationDate">Expiration Date</label>
      <input type="date" th:field="*{expirationDate}" class="form-control mb-2"/>
      <p th:if="${#fields.hasErrors('expirationDate')}" th:errorclass="error" th:errors="*{expirationDate}" class="alert alert-danger"></p>
    </div>

    <div class="form-group mx-sm-3 mb-2">
      <label for="document">Document</label>
      <input type="file" th:field="*{enrollmentDocument}" accept="application/pdf" class="form-control mb-2"/>
      <p th:if="${#fields.hasErrors('enrollmentDocument')}" th:errorclass="error" th:errors="*{enrollmentDocument}" class="alert alert-danger"></p>
    </div>

    <div class="form-group mx-sm-3 mb-2">
      <label for="academicTerm">Academic Term</label>
      <select th:field="*{academicTerm.idAcademicTerm}" class="form-select  mb-2">
        <option th:each="academicTerm : ${academicTermList}" th:value="${academicTerm.idAcademicTerm}" th:text="${academicTerm.code}" />
      </select>
      <p th:if="${#fields.hasErrors('academicTerm')}" th:errorclass="error" th:errors="*{academicTerm}" class="alert alert-danger" />
    </div>

    <div class="form-group mx-sm-3 mb-2">
      <input type="submit" value="Save" class="btn btn-primary"/>
      <a class="btn btn-secondary" th:href="@{${'/students'}}">Cancel</a>
    </div>
  </form>
</main>
</body>
</html>