<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:insert="~{layout/layout}"
      th:with="title='Enrollment list', leaveLink=@{${'/students/'+idStudent}}">
<body>
<header class="text-center">
  <h1>Enrollments</h1>
</header>
<main layout:fragment="content">

  <form th:action="@{${'/students/'+idStudent+'/enrollments/form'}}" method="GET">
    <button class="btn btn-primary" type="submit">New Enrollment</button>
  </form>

  <table class="table table-striped table-hover">
    <div th:if="${not #lists.isEmpty(enrollmentList)}">
      <div th:text="'Total of '+${#lists.size(enrollmentList)} + ' registers.'" class="text-right"></div>
    </div>
    <thead>
    <tr>
      <th>Receipt date</th>
      <th>Academic Term</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="enrollment: ${enrollmentList}">
      <td><a th:text="${enrollment.receiptDate}"></a></td>
      <td><a th:text="${enrollment.academicTerm.semester}"></a></td>
      <td>
        <form th:action="@{${'/students/'+idStudent+'/enrollments/'+enrollment.idEnrollment}}" th:method="GET">
          <button type="submit" class="btn btn-primary btn-sm">Update</button>
        </form>
        <form th:action="@{${'/students/'+idStudent+'/enrollments/'+enrollment.idEnrollment}}" th:method="delete">
          <button type="submit" class="btn btn-primary btn-sm">Exclude</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</main>
</body>
</html>